.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}

.MuiInput-underline:before {
  transition: none !important;
  border: none !important;
  content: none !important;
}

.MuiInput-underline:after {
  transition: none !important;
  border: none !important;
}
